* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
:focus, :active {
    outline: none;
}
a:focus, a:active {
    outline: none;
}
nav, footer, header, aside {
    display: block;
}
input, button, textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
a, a:visited {
    text-decoration: none;
}
 a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
font-family:Georgia, 'Times New Roman', Times, serif;
font-family:Arial, Helvetica, sans-serif;
width: 1280px;
margin: 0px auto;
}
/*---------------------------------*/
/*.modal {
    display: none;
}*/
.modal--visible {
    display: block;
}
.modal-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
align-items: center;
justify-content: center;
background-color: rgba(34, 31, 31, 0.377);
height: 100vh;
width: 100%;
opacity: 0;
visibility: hidden;
transition: all 0.3s ease-in-out;
}
.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.modal-window {
    width: 900px;
      height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    display: none;
    
}
.modal-window--visible {
    display: block;
}
.modal-window_image {
}
.madal-window_text {
    width: 351px;
}
.madal-window_title {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #000000;
}
.madal-window_subtitle {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #000000;
}
.modal-window p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.madal-window_list li {
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
}
.madal-window_list span {
font-size: 24px;
}